@media (max-width: 1200px) {
  
 .header__logo {
  margin-right: 50%;
 }

 .nav {
  display: none;
 }

 .burger {
  display: flex;
}

.burger.active {
width: 18px;
height: 18px;
background-color: #CCCCCC;
border-radius: 50%;
justify-content: center;
align-items: center;
}

.burger span {
height: 1px;
width: 100%;
transform: scale(1);
background-color: #1f2937;
}

.burger::before, .burger::after {
content: "";
position: absolute;
height: 1px;
width: 100%;
background-color: #1f2937;
transition: all 0.4s ease-in-out;
}

.burger::before {
top: 0;
}

.burger::after {
bottom: 0;
width: 50%;
}

.burger.active span {
transform: scale(0);
}

.burger.active::before {
top: 50%;
transform: rotate(-45deg) translate(0, -50%);
width: 80%;
}

.burger.active::after {
bottom: 50%;
transform: rotate(45deg) translate(0, 50%);
width: 80%;
}

.nav {
  padding-top: 48px;
  padding-left: 18px;
  flex-direction: column;
  position: fixed;
  height: 50vh;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  overflow-y: auto;
  background-color: #fff;
  transition: all 0.4s;
}

}

  
  