@media (max-width: 1200px) {
  
 .header__logo {
  margin-right: 50%;
 }

.header__right-btn {
  margin-right: 15px;
}

.burger-btn {
        display: block;
    }
    
 .nav__item-link-srv {
  display: none;
 }

    .nav {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: white;
        z-index: 1000;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translateY(-100%);
        opacity: 0;
        pointer-events: none;
    }

    .header.active .header__right-svg,
    .header.active .header__right-btn {
        display: none;
    }
    
    .nav__list {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .nav.active {
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
    }
    
    .header.active .header__logo {
        position: fixed;
        top: 20px;
        left: 20px;
        z-index: 1001;
    }
    



}


  
  